@charset "UTF-8";

/* style.css */
body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    color: #333;
    line-height: 1.6;
}



/* コンテンツエリア全体 */

.hero-container {
    position: relative;
    /* 子要素を重ねるための「基準」にする */
    width: 100%;
    height: 100vh;
    /* 画像を見せたい高さ */
    background-image: url("../image/33458877_m.jpg");
    /* 背景画像を指定 */
    background-size: cover;
    /* 画像を枠いっぱいに広げる */
    background-position: center;
    /* 画像の真ん中を表示 */
}


/* ヘッダー */
header {
    position: absolute;
    /* 浮かせた状態にして重ねる */
    top: 50%;
    /* 上から50%の位置へ */
    left: 50%;
    /* 左から50%の位置へ */
    transform: translate(-50%, -50%);
    /* デザインの調整 */
    background: rgba(255, 255, 255, 0.8);
    /* 白背景を少し透かして文字を読みやすく */
    width: 60%;
    padding-top: 40px;
    padding-bottom: 45px;
    text-align: center;
    border-radius: 8px;
}

header h1 {
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 30px;
}

header p {
    font-size: 1.5vw;
    font-weight: bold;
}

/* 紹介テキストエリア (中間のオレンジ) */
.intro-section {
    padding: 0 20px;
    background-color: #ffd67a;
    min-height: 100dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* 中身を縦に並べる */
    justify-content: center;
    /* 垂直方向（上下）の中央 */
    align-items: center;
}

.intro-section h2 {
    color: #ff4d79;
    /* ピンクがかった赤 */
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.intro-section p {
    line-height: 2;
    font-weight: bold;
    font-size: 1.5rem;
}

.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: #ffeb66;
    min-height: 100vh;
    text-align: center;
    gap: 6vw;
}

.menu-section h2 {
    position: relative;
    color: #ff4d79;
    /* ピンクがかった赤 */
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
}

.menu-section h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: -55px;
    width: 100px;
    height: 70px;
    background-image: url(../image/img03.png);
    background-size: cover;
}


/* ナビゲーションエリア (明るい黄色) */
.nav-section {
    background-color: #ffeb66;
    display: flex;
    justify-content: center;
    /* 垂直方向（上下）の中央 */
    align-items: center;
    gap: 6vw;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

/* ボタンデザイン */
.nav-item {
    background-color: #e67e22;
    color: #fff;
    width: 240px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s;
}

.nav-item:hover {
    opacity: 0.8;
}

/* フッター */
footer {
    background-color: rgb(200, 200, 200);
    padding: 15px 20px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    position: relative;
}

/* トップへ戻るボタン風のアイコン */
.back-to-top {
    background-image: url(../image/img01.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    right: 30px;
    bottom: 60px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;

}

.sp-br {
    display: none;
}

.scroll-prompt {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
    color: #e67e22;
    /* オレンジ色 */
    font-weight: bold;
    font-size: 12px;
}

.arrow {
    width: 2px;
    height: 30px;
    background-color: #e67e22;
    margin: 10px auto 0;
    position: relative;
    /* 上下に動くアニメーション */
    animation: scroll-move 1.5s infinite;
}

/* 矢印の先端 */
.arrow::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 8px;
    height: 8px;
    border-right: 2px solid #e67e22;
    border-bottom: 2px solid #e67e22;
    transform: translateX(-50%) rotate(45deg);
}

@keyframes scroll-move {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}

@media screen and (max-width: 1190px) {
    header {
        width: 70%;
    }

    header h1 {
        font-size: 4vw;
        padding-left: 15px;
    }

    header p {
        font-size: 2vw;
    }

    .menu-section {
        padding: 0 20px;
        background-color: #ffeb66;
        height: 100vh;
        text-align: center;
    }

    .menu-section h2 {
        color: #ff4d79;
        /* ピンクがかった赤 */
        font-size: 3rem;
        font-weight: bold;
        padding-bottom: 50px;
    }

    .nav-section {
        background-color: #ffeb66;
        display: flex;
        flex-direction: column;
        /* 垂直方向（上下）の中央 */
        align-items: center;
        gap: 80px;
        flex-wrap: wrap;
    }

    .nav-item {
        width: 250px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        transition: opacity 0.3s;
    }

}




@media screen and (max-width: 768px) {
    header {
        width: 80%;
    }

    header h1 {
        font-size: 5vw;
        padding-left: 15px;
        margin-left: 0;
    }

    header p {
        font-size: 3vw;
    }

    .intro-section h2 {
        color: #ff4d79;
        /* ピンクがかった赤 */
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .intro-section p {
        line-height: 2;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .menu-section {
        padding: 0 20px;
        flex-direction: column;

        background-color: #ffeb66;
        height: 100vh;
        text-align: center;
    }

    .menu-section h2 {
        color: #ff4d79;
        /* ピンクがかった赤 */
        font-size: 2.5rem;
        font-weight: bold;
    }



    .nav-section {
        background-color: #ffeb66;
        display: flex;
        flex-direction: column;
        /* 垂直方向（上下）の中央 */
        align-items: center;
        gap: 80px;
        flex-wrap: wrap;
    }

    .nav-item {

        width: 250px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        transition: opacity 0.3s;
    }

    .scroll-prompt {
        display: none;
    }

}

@media screen and (max-width: 480px) {
    header {
        width: 90%;

    }

    .hero-header h1 {
        font-size: 5.5vw;
        padding-left: 15px;
    }

    header p {
        font-size: 4vw;
    }

    .intro-section h2 {
        color: #ff4d79;
        /* ピンクがかった赤 */
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .menu-section h2::before {
        content: '';
        position: absolute;
        left: 0;
        top: -50px;
        width: 80px;
        height: 55px;
        background-image: url(../image/img03.png);
        background-size: cover;
    }

    .intro-section p {
        line-height: 2;
        font-weight: bold;
        font-size: 1rem;
    }

    .menu-section {
        flex-direction: column;
        padding: 0 20px;
        background-color: #ffeb66;
        height: 100dvh;
        text-align: center;
    }

    .menu-section h2 {

        color: #ff4d79;
        /* ピンクがかった赤 */
        font-size: 1.5rem;
        font-weight: bold;
    }

    .nav-section {
        background-color: #ffeb66;

        display: flex;
        flex-direction: column;
        /* 垂直方向（上下）の中央 */
        align-items: center;
        gap: 60px;
        flex-wrap: wrap;
    }

    .nav-item {

        width: 200px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        transition: opacity 0.3s;
    }

    .back-to-top {
        position: absolute;
        right: 10px;
        bottom: 70px;
        width: 50px;
        height: 50px;

    }

    .sp-br {
        display: block;
    }

    footer {
        padding: 10px 20px;
    }
}

@media (max-height: 500px) and (orientation: landscape) {

    .intro-section h2 {
        font-size: 2rem;
    }

    .intro-section p {
        font-size: 1rem;
    }

    .menu-section {
        padding-top: 50px;
    }

    .menu-section h2 {
        font-size: 2rem;
        padding-bottom: 0;
    }

    .nav-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .nav-item {
        width: 200px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        transition: opacity 0.3s;
    }

    .back-to-top {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px;
    }
}